html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box; /* 包含边框和内边距在宽度和高度内 */
}

html {
    border: 10px solid white; /* 外部的白色边框 */
    height: 100%; /* html元素占满整个视口的高度 */
}

body {
    background-image: url('images/JimHenson.jpg');
    background-size: cover;
    border: 5px solid green; /* 内部的绿色边框 */
}


.terpstore{
    font-size: 100px;
    display: inline-block;
    padding: 10px;
    color: azure;
    text-decoration:underline;
    background-color: rgba(0, 0, 0, .4);
}


.container {
    position: fixed; /* 或者 absolute，取决于你是否希望滚动时容器也随之移动 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 211, 211, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    max-width: 400px;
    border: 2px solid black;
}

.container a{
    color:brown;
}

.container a:visited {
    color: beige;
}

.container a:hover {
    font-size: 90%; /* 或者使用像素值，如减小到原来的90% */
}

.cata-button{
    padding: 10px 20px;
    color: white;
    font-size: 40px;
}

.order-button{
    padding: 10px 20px;
    color: white;
    font-size: 40px;
}



.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    border-top: 5px solid gray;
    box-shadow: 0 -10px 0 0 skyblue;
    padding: 20px 0;
    z-index: 1000;
}

footer div{
    display: inline-block;
    padding: 10px 20px;
}

footer a{
    color: white;
}